<img src="images/logo_horizontal_large.png" class="theoldreaderlogo" />

<div id="settings">

    <h2>{{ 'AUTHENTICATION' | translate }}</h2>

    <div class="login" ng-init="init()" ng-hide="settings.authenticated">
        <p>{{ 'REGISTER_TEXT' | translate }}</p>
        <a href="http://theoldreader.com/#sign_up" target="_blank"><button type="button" class="btn btn-info">{{ 'REGISTER_BUTTON' | translate }}</button></a>
        <br/><br/>

        <form>
            <table>
            <tr>
                <td>{{ 'EMAIL' | translate }}:</td>
                <td>
                    <p>
                        <input type="email" placeholder="email" required="" ng-model="email" focus>
                        <button type="reset" ng-tap="clearemail()">Clear</button>
                    </p>
                </td>
            </tr>
            <tr>
                <td>{{ 'PASSWORD' | translate }}:</td>
                <td>
                    <p>
                        <input type="password" placeholder="password" required="" ng-model="password">
                        <button type="reset" ng-tap="clearpassword()">Clear</button>
                    </p>
                </td>
            </tr>
            <tr>
                <td/>
                <td><button type="submit" class="btn btn-default" ng-tap="authenticate()">{{ 'LOGIN' | translate }}</button></td>
            </tr>
            </table>
            <input type="submit" />
        </form>
    </div>

    <div class="logout" ng-show="settings.authenticated">
        <table>
            <tr>
                <td>{{ 'LOGIN_SUCCESS' | translate }}</td>
                <td><button class="btn btn-danger" ng-tap="logout()">{{ 'LOGOUT' | translate }}</button></td>
            </tr>
        </table>
    </div>

    <h2>{{ 'SETTINGS' | translate}}</h2>

    <div>
        <table>
            <tr>
                <td>{{ 'SHOW_ONLY_UNREAD' | translate }}</td>
                <td>
                    <label class="pack-switch">
                      <input type="checkbox" ng-model="settings.unreadSetting">
                      <span></span>
                    </label>
                </td>
            </tr>
        </table>
    </div>

</div>
